@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<div class="main-container-layout">
    <BlazoredToasts 
        Position="ToastPosition.TopRight"
        Timeout="10"
        ShowProgressBar="true" 
    />
    @Body
</div>