body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    color: #48358C;
}

.main-container {
    height: 100vh;
    width: 100vw;
    background-color: #cdac53;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-title {
    font-size: 3rem;
    font-weight: bold;
    color: #171515;
}

.album-container {
    height: 80vh;
    width: 90vw;
    max-width: 800px;
    margin: 2rem 0;
    padding: 20px;
    text-align: center;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #171515;
}

.album-title {
    color: #cdac53;
    font-size: 2rem;
    margin-bottom: 10px;
}

.album-description {
    color: #171515;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.qrcode-section {
    margin: 20px 0;
}

.qrcode {
    width: 150px;
    height: 150px;
}

.countdown-section {
    margin: 20px 0;
}

.countdown-timer {
    font-size: 1.5rem;
    color: #cdac53;
}


.camera-view {
    width: 100%;
    max-width: 300px;
    border: 2px solid #69188C;
    border-radius: 5px;
}

.snapshot {
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
    border: 2px solid #56BFA1;
    border-radius: 5px;
}

.album-header {
    text-align: center;
    margin-bottom: 20px;
}



.btn {
    background-color: #171515;
    color: #e3e8e7;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #cdac53;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Quando o modal é exibido, a sobreposição de fundo escuro deve ser visível */
.modal-overlay {
    display: flex; /* Torna o modal visível */
}