@page "/"

@inject NavigationManager NavigationManager

<div class="home-container">
    <div class="hero-section">
        <h1 class="site-title">rivella.</h1>
        <p class="tagline">Suas memórias no tempo certo</p>
        @* <p class="description"> *@
        @*     No rivella, você cria álbuns com memórias e uma data de revelação. Até lá, suas memórias permanecem guardadas, esperando o momento certo para serem reveladas. *@
        @* </p> *@
        <p class="description">
            No rivella, cada álbum é uma história sendo vivida em segredo. Você escolhe o momento da revelação e, até lá, aqueles que fazem parte da sua história compartilham suas memórias, à espera de se tornarem inesquecíveis.
        </p>
        <button class="btn-primary" @onclick="NavigateToCreateAlbum">
            Criar Álbum
        </button>
    </div>
    
    <div class="image-section">
        <img src="images/selfie.png" alt="Descrição da imagem" style="max-width: 100%; height: auto;" />
    </div>
    
    <div class="features-section">
        <h2>Como funciona?</h2>
        <div class="features-grid">
            <div class="feature-item">
                <h3>Crie um álbum 📖✨</h3>
                <p>Escolha um nome especial e defina uma data de revelação.</p>
            </div>
            <div class="feature-item">
                <h3>Registre memórias 📸💥</h3>
                <p>Envie fotos para o álbum e compartilhe o link com quem importa.</p>
            </div>
            <div class="feature-item">
                <h3>Espere o momento ⏳🔓</h3>
                <p>As fotos só poderão ser visualizadas após a data de revelação.</p>
            </div>
        </div>
    </div>
</div>

@code {
    private void NavigateToCreateAlbum()
    {
        NavigationManager.NavigateTo("/criar-album");
    }
}